.hero {
  color: var(--white);
  background: linear-gradient(24.2deg, #6985F6 7.85%, #E550DE 52.84%, #FFC759 97.25%);
  box-shadow: 0 3px 10px rgba(125, 125, 242, 0.3);
  padding: 30px 18px 42px;
}

.hero .h2 {
  margin-bottom: 10px;
}

.hero .h2,
.hero .p {
  text-align: center;
}

.p {
  line-height: 150%;
  text-align: left;
}

.smartphone {
  width: 202px;
  margin: 0 auto;
}

.hero__info {
  position: relative;
}

.hero__message {
  left: 0;
  bottom: 89px;
  position: absolute;
  z-index: 2;
}

.hero__message-right {
  left: initial;
  right: 0;
  bottom: 32px;
}

.hero__star {
  background: url("../img/star.svg") center no-repeat;
  background-size: contain;
  height: 43px;
  width: 43px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 71px;
}

.hero__star_top {
  height: 16px;
  width: 16px;
  top: 24px;
  right: 58px;
  transform: rotate(-31deg);
}

.hero__downloads {
  margin-top: 12px;
  margin-bottom: 10px;
}

.hero__text-action {
  text-align: center;
}

.how-it-works {
  padding: 38px 24px 56px;
}

.how-it-works__title {
  margin-bottom: 50px;
}

.how-it-works__step {
  margin: 0 auto 13px;
  width: 234px;
  padding-right: 10px;
  position: relative;
}

.how-it-works__number {
  position: absolute;
  top: 50%;
  left: 0;
  color: var(--pink);
  font-weight: 700;
  font-size: 88px;
  line-height: 120%;
  display: block;
  transform: rotate(-90deg) translate(73%, -50%);
}

.how-it-works__h3 {
  margin-bottom: 23px;
}

.how-it-works__p {
  margin-bottom: 100px;
}

.how-it-works__downloads {
  margin-top: 56px;
}
