.hero {
  padding: 30px 18px 42px;
  background: linear-gradient(24.2deg, #6985F6 7.85%, #E550DE 52.84%, #FFC759 97.25%);
  box-shadow: 0 3px 10px rgba(125, 125, 242, 0.3);
  color: var(--white);
}

.hero .h2 {
  margin-bottom: 10px;
}

.hero .h2,
.hero .p {
  text-align: center;
}

.p {
  line-height: 150%;
  text-align: left;
}

.smartphone {
  width: 202px;
  margin: 0 auto;
}

.hero__info {
  position: relative;
  max-width: 375px;
  margin: 0 auto;
}

.hero__message {
  left: 0;
  bottom: 89px;
  position: absolute;
  z-index: 2;
  filter: drop-shadow(0px 2px 50px rgba(0, 0, 0, 0.4));
}

.hero__message-right {
  left: initial;
  right: 0;
  bottom: 32px;
}

.hero__star {
  background: url("../img/star.svg") center no-repeat;
  background-size: contain;
  height: 43px;
  width: 43px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 71px;
}

.hero__star_top {
  height: 16px;
  width: 16px;
  top: 24px;
  right: 58px;
  transform: rotate(-31deg);
}

.hero__downloads {
  margin-top: 12px;
  margin-bottom: 10px;
}

.hero__text-action {
  text-align: center;
}

.how-it-works {
  padding: 38px 24px 56px;
}

.how-it-works__title {
  margin-bottom: 50px;
}

.how-it-works__step {
  margin: 0 auto 13px;
  width: 234px;
  padding-right: 10px;
  position: relative;
}

.how-it-works__number {
  position: absolute;
  top: 50%;
  left: 0;
  color: var(--pink);
  font-weight: 700;
  font-size: 88px;
  line-height: 120%;
  display: block;
  transform: rotate(-90deg) translate(73%, -50%);
}

.how-it-works__h3 {
  margin-bottom: 23px;
}

.how-it-works__p {
  margin-bottom: 100px;
}

.how-it-works__downloads {
  margin-top: 56px;
}

.footer__land {
  padding: 32px 25px;
  background-color: var(--black);
  color: var(--grey);
  font-size: 12px;
  line-height: 18px;
}

.footer__land p,
.footer__land a {
  opacity: .7;
}

.footer__info {
  text-align: center;
}

.footer__links {
  margin-bottom: 32px;
}

.footer__links a {
  display: block;
  line-height: 24px;
  font-weight: 500;
}

.footer__pays {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 29px;
  align-items: center;
  margin: 48px auto;
  width: 259px;
}

.footer__pays > div {
  height: 24px;
}

.footer__pays img {
  height: 100%;
  object-fit: contain;
}

.footer__legal {
  margin-top: 48px;
}
